<div id="addPicture2Modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header heading">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Change picture</h4>
            </div>
            <div class="modal-body">
                <form class="form">
                    <div class="form-group">
                        <label>Choose picture</label>
                        <input type="file" id="file2" class="form-control" onchange="angular.element(this).scope().readURL(this, 'canvas1')" accept="image/*">
                    </div>
                    <span class='pull-right' >
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="savePicture(2, 'file2')"  analytics-on="click" analytics-event="Picture2 change" analytics-category="Actions">Save changes</button>
                    </span>
                    <br><br>
                    <canvas id="canvas2" width="1" height="1" class="center-block"></canvas>
                    <br>
                    Current picture:
                    <br>
                    <img ng-if="!profile.picture2" src="../images/house-default.jpg" alt="Default house picture" class="center-block">
                    <img ng-show="profile.picture2" ng-src="https://{{imageBucket}}.s3.amazonaws.com/{{profile._id}}/600x400/{{profile.picture2.corePath}}" class="center-block">
                    <input type="hidden" name="userId" ng-model="user._id">
                </form>
            </div>
        </div>
    </div>
</div>

