<div id="addPicture0Modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header heading">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Change picture</h4>
            </div>
            <br>
            <div class="modal-body">
                <form class="form">
                    <div class="form-group">
<!--                        <label for="file">Choose picture</label> -->
                        <label>Choose picture</label>
<!--                        <input type="file" id="file0" class="form-control" ng-model="defaultHouseSpace.img" onchange="angular.element(this).scope().readURL(this, 'canvas0')" accept="image/*"> -->
                        <input type="file" id="file0" class="form-control" onchange="angular.element(this).scope().readURL(this, 'canvas0')" accept="image/*">
<!--                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="savePicture(0, 'file0')"  analytics-on="click" analytics-event="Picture0 change" analytics-category="Actions">Save changes</button>
-->
                    </div>
                    <span class='pull-right' >
        <!--            <div class="modal-footer"> -->
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="savePicture(0, 'file0')"  analytics-on="click" analytics-event="Picture0 change" analytics-category="Actions">Save changes</button>
                    </span>
<!--                    <canvas id="canvas" width="200" height="200" class="center-block"></canvas>  -->
                    <canvas id="canvas0"></canvas>  
                    <img ng-if="!profile.picture0" src="../../images/house-default.jpg" alt="Default house picture">
                    <img ng-show="profile.picture0" ng-src="https://vidomtestbucket.s3.amazonaws.com/{{profile._id}}/600x400/{{profile.picture0.corePath}}">
                    <input type="hidden" name="userId" ng-model="user._id">
                </form>
            </div>
<!--            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="savePicture(0, 'file0')"  analytics-on="click" analytics-event="Picture0 change" analytics-category="Actions">Save changes</button>
            </div>
-->
        </div>
    </div>
</div>