<div id="addPicture0Modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header heading">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Change picture</h4>
            </div>
            <div class="modal-body">
                <form class="form">
                    <div class="form-group">
                        <label>Choose picture</label>
                        <input type="file" id="file0" class="form-control" onchange="angular.element(this).scope().readURL(this, 'canvas0')" accept="image/*">
                    </div>
                    <span class='pull-right' >
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="savePicture(0, 'file0')"  analytics-on="click" analytics-event="Picture0 change" analytics-category="Actions">Save changes</button>
                    </span>
                    <br><br>
                    <output id="canvas0"></output>  
<!--                  <canvas id="canvas0"></canvas>  -->
                    <br><br>
                    Current picture:
                    <img ng-show="profile.picture0" ng-src="https://vidomtestbucket.s3.amazonaws.com/{{profile._id}}/600x400/{{profile.picture0.corePath}}">
                    <input type="hidden" name="userId" ng-model="user._id">
                </form>
            </div>
        </div>
    </div>
</div>