<div class="container-fluid">
    <div class="row">
        <div class="houses-grid">
            <!-- 2017-02-12 Guri: Would a more intuitive name be "user's houses" or "house in user"? -->
            <div ng-repeat="house in houses" class="" ng-click="openHouseProfile(house.ref._id)">
                <div class="house-space-on-grid" >
                    <div class="lead text-uppercase text-center">{{house.name}}
                    </div>
                    <img ng-if="!house.thumbnail" src="../images/house-default1.jpg" alt="Default house picture" class="center-block">
                    <img ng-show="house.thumbnail" id="userImg" ng-src="{{house.thumbnail}}" class="center-block">
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 10px;"><button type="button" class="btn btn-lg btn-danger"  ng-click="goToCreateHouseProfilePage()"><i class="glyphicon glyphicon-plus"></i> Add new house profile</button></div>
</div>