<!-- 2017-02-23 Guri: Think about removing this file as the only task it has is to hold the register.html file
2017-03-30 Sunniva: denne setter også plasseringen på skjermen med classen-->
<div class="container-fluid">
    <div class="row main-container">
        <div class="pull-right col-xs-12 col-sm-4 col-md-4 col-lg-4" ng-include=" '../../partials/forms/account/register.html'">
        </div>
        <div class="pull-left col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <img class="img-responsive" src="images/backgroundIMG.jpg" alt="background">
        </div>
    </div>
</div>

