<section>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
            <img src="https://vidomtestbucket.s3.amazonaws.com/{{profile.profilePicture.path}}" alt="Default house picture">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
            <img src="https://vidomtestbucket.s3.amazonaws.com/{{profile.backgroundPicture.path}}" alt="Default house picture">
            </a>
        </div>
        <div class="col-xs-6 col-md-3" data-target="#addPictureModal" data-toggle="modal">
            <a href="#" class="thumbnail">
            <img src="https://vidomtestbucket.s3.amazonaws.com/{{profile.picture[0].path}}" alt="Default house picture">
            </a>
        </div>
    </div>
    <!-- 2017-02-28 Guri todo: Add a function to go to when the user clicks this button.. -->
<!--    <div class="row" style="margin: 10px;"><button type="button" class="btn btn-lg btn-danger"  ng-click=""><i class="glyphicon glyphicon-plus"></i> Add new picture</button></div> -->
    <div ng-include="'partials/modals/addPictureModal.html'"></div>
</section>
