<section>
    <span class='pull-right' >
        <input type="button" value="Refresh Page" onClick="document.location.reload()">
        <input type="button" value="Go to tab basicInfo" onClick="">
        
        <br>
        <a data-target="#basicInfo">BasicInfo</a> <!-- aria-controls="pictures" role="tab" data-toggle="tab">Pictures</a> -->
    </span>
    <br>
    <br>
    <div class="row">
        <div class="col-xs-6 col-md-3" data-target="#addPicture0Modal" data-toggle="modal">
            <a>
            <img ng-if="!profile.picture0" src="../images/house-default.jpg" alt="Default house picture">
            <img ng-show="profile.picture0" ng-src="https://vidomtestbucket.s3.amazonaws.com/{{profile.picture0.path}}">
            </a>
        </div>
        <div class="col-xs-6 col-md-3" data-target="#addPicture1Modal" data-toggle="modal">
            <a>
            <img ng-if="!profile.picture1" src="../images/house-default.jpg" alt="Default house picture">
            <img ng-show="profile.picture1" ng-src="https://vidomtestbucket.s3.amazonaws.com/{{profile.picture1.path}}">
            </a>
        </div>
        <div class="col-xs-6 col-md-3" data-target="#addPicture2Modal" data-toggle="modal">
            <a>
            <img ng-if="!profile.picture2" src="../images/house-default.jpg" alt="Default house picture">
            <img ng-show="profile.picture2" ng-src="https://vidomtestbucket.s3.amazonaws.com/{{profile.picture2.path}}">
            </a>
        </div>
        <div class="col-xs-6 col-md-3" data-target="#addPicture3Modal" data-toggle="modal">
            <a>
            <img ng-if="!profile.picture3" src="../images/house-default.jpg" alt="Default house picture">
            <img ng-show="profile.picture3" ng-src="https://vidomtestbucket.s3.amazonaws.com/{{profile.picture3.path}}">
            </a>
        </div>
        <div class="col-xs-6 col-md-3" data-target="#addPicture4Modal" data-toggle="modal">
            <a>
            <img ng-if="!profile.picture4" src="../images/house-default.jpg" alt="Default house picture">
            <img ng-show="profile.picture4" ng-src="https://vidomtestbucket.s3.amazonaws.com/{{profile.picture4.path}}">
            </a>
        </div>
        <div class="col-xs-6 col-md-3" data-target="#addPicture5Modal" data-toggle="modal">
            <a>
            <img ng-if="!profile.picture5" src="../images/house-default.jpg" alt="Default house picture">
            <img ng-show="profile.picture5" ng-src="https://vidomtestbucket.s3.amazonaws.com/{{profile.picture5.path}}">
            </a>
        </div>
        <div class="col-xs-6 col-md-3" data-target="#addPicture6Modal" data-toggle="modal">
            <a>
            <img ng-if="!profile.picture6" src="../images/house-default.jpg" alt="Default house picture">
            <img ng-show="profile.picture6" ng-src="https://vidomtestbucket.s3.amazonaws.com/{{profile.picture6.path}}">
            </a>
        </div>
        <div class="col-xs-6 col-md-3" data-target="#addPicture7Modal" data-toggle="modal">
            <a>
            <img ng-if="!profile.picture7" src="../images/house-default.jpg" alt="Default house picture">
            <img ng-show="profile.picture7" ng-src="https://vidomtestbucket.s3.amazonaws.com/{{profile.picture7.path}}">
            </a>
        </div>
    </div>
<!--    <div class="row" style="margin: 10px;"><button type="button" class="btn btn-lg btn-danger"  ng-click=""><i class="glyphicon glyphicon-plus"></i> Add new picture</button></div> -->
    <div ng-include="'partials/modals/addPicture0Modal.html'"></div>
    <div ng-include="'partials/modals/addPicture1Modal.html'"></div>
    <div ng-include="'partials/modals/addPicture2Modal.html'"></div>
    <div ng-include="'partials/modals/addPicture3Modal.html'"></div>
    <div ng-include="'partials/modals/addPicture4Modal.html'"></div>
    <div ng-include="'partials/modals/addPicture5Modal.html'"></div>
    <div ng-include="'partials/modals/addPicture6Modal.html'"></div>
    <div ng-include="'partials/modals/addPicture7Modal.html'"></div>
</section>


<!--
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
            <img src="https://vidomtestbucket.s3.amazonaws.com/{{profile.profilePicture.path}}" alt="Default house picture">
            </a>
        </div>
-->
