<section>
    <span class='pull-right' >
        <a ng-if='pictureSectionIsEditing === false' ng-click='editSection("pictures")'   analytics-on="click" analytics-event="Edit pictures" analytics-category="Actions"><i class='glyphicon glyphicon-edit'></i>&nbsp;Edit section</a>
        <a ng-if='pictureSectionIsEditing === true' ng-click='updateSection()'>&nbsp;Save</a>
        <a ng-if='pictureSectionIsEditing === true' ng-click="cancelEditingSection()">&nbsp;Cancel</a>
    </span><br>
    <div ng-if="!pictureSectionIsEditing">
        <div class='col-md-2'>ProfilePicture</div>
        <div class='col-md-10' ng-if="!profile.profilePicture"><img src="../../images/house-default.jpg" alt="Default house picture"></div>
        <div class='col-md-10' ng-if="profile.profilePicture"><img src="https://${S3_BUCKET_NAME}.s3.amazonaws.com/{{profile.profilePicture.path}}" alt="Default house picture"></div>
        <div class='col-md-2'>BackgroundPicture</div>
        <div class='col-md-10' ng-if="!profile.backgroundPicture"><img src="../../images/house-default.jpg" alt="Default house picture"></div>
        <div class='col-md-10' ng-if="profile.backgroundPicture"><img src="https://${S3_BUCKET_NAME}.s3.amazonaws.com/{{profile.backgroundPicture.path}}" alt="Default house picture"></div><br>
        
<!--        <div ng-repeat="picture in pictures" class=""> <!- - ng-click="editPicture(profile.pictures[i])"> -->
<!--        </div>
-->
<!--    <div class="row" style="margin: 10px;"><button type="button" class="btn btn-lg btn-danger"  ng-click="goToCreateHouseProfilePage()"><i class="glyphicon glyphicon-plus"></i> Add new house profile</button></div>
-->
<!--    <div ng-if="pictureSectionIsEditing"> </div>
        <div class="row" style="margin: 10px;"><button type="button" class="btn btn-lg btn-danger"  ng-click="savePicture(false)"><i class="glyphicon glyphicon-plus"></i> Add new picture</button></div>
-->
    </div>
<!--
    <div ng-include="'partials/modals/addPictureModal.html'"></div>
-->
</section>
